## Deliverable 2. Create a Customer Travel Destinations Map.

In [70]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [71]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Chuy,UY,-33.70,-53.46,44.13,93,15,4.52,few clouds
1,1,San Cristobal,VE,7.77,-72.22,66.11,93,99,3.38,overcast clouds
2,2,Vaini,TO,-21.20,-175.20,69.80,68,20,20.80,few clouds
3,3,Upernavik,GL,72.79,-56.15,33.66,80,0,10.27,clear sky
4,4,Tuktoyaktuk,CA,69.45,-133.04,41.00,86,75,14.99,broken clouds

In [72]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [73]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,San Cristobal,VE,7.77,-72.22,66.11,93,99,3.38,overcast clouds
2,2,Vaini,TO,-21.20,-175.20,69.80,68,20,20.80,few clouds
5,5,Dongsheng,CN,39.82,109.98,75.31,24,0,16.35,clear sky
11,11,Angoche,MZ,-16.23,39.91,72.63,71,30,13.96,scattered clouds
23,23,Esperance,AU,-33.87,121.90,66.20,63,75,12.75,broken clouds
25,25,Ponta Do Sol,PT,32.67,-17.10,71.60,64,20,5.82,few clouds
26,26,Baft,IR,29.23,56.61,71.28,18,0,2.98,clear sky
29,29,Arraial Do Cabo,BR,-22.97,-42.03,70.38,84,0,14.47,clear sky
31,31,Hilo,US,19.73,-155.09,75.20,83,90,8.05,light rain
34,34,Hamilton,US,39.18,-84.53,75.20,78,90,9.17,overcast clouds

In [74]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                266
City                   266
Country                263
Lat                    266
Lng                    266
Max Temp               266
Humidity               266
Cloudiness             266
Wind Speed             266
Current Description    266
dtype: int64

In [75]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                263
City                   263
Country                263
Lat                    263
Lng                    263
Max Temp               263
Humidity               263
Cloudiness             263
Wind Speed             263
Current Description    263
dtype: int64

In [76]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Cristobal,VE,66.11,overcast clouds,7.77,-72.22,
2,Vaini,TO,69.80,few clouds,-21.20,-175.20,
5,Dongsheng,CN,75.31,clear sky,39.82,109.98,
11,Angoche,MZ,72.63,scattered clouds,-16.23,39.91,
23,Esperance,AU,66.20,broken clouds,-33.87,121.90,
25,Ponta Do Sol,PT,71.60,few clouds,32.67,-17.10,
26,Baft,IR,71.28,clear sky,29.23,56.61,
29,Arraial Do Cabo,BR,70.38,clear sky,-22.97,-42.03,
31,Hilo,US,75.20,light rain,19.73,-155.09,
34,Hamilton,US,75.20,overcast clouds,39.18,-84.53,

In [77]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    params["location"] = f"{lat},{lng}"
    hotels = requests.get(base_url, params=params).json()
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [78]:
hotel_df.count()

City                   263
Country                263
Max Temp               263
Current Description    263
Lat                    263
Lng                    263
Hotel Name             263
dtype: int64

In [79]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df.loc[(hotel_df["Hotel Name"] == ""),"Hotel Name"] = np.nan
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                   232
Country                232
Max Temp               232
Current Description    232
Lat                    232
Lng                    232
Hotel Name             232
dtype: int64

In [111]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,San Cristobal,VE,66.11,overcast clouds,7.77,-72.22,Pirineos
2,Vaini,TO,69.80,few clouds,-21.20,-175.20,Keleti Beach Resort
5,Dongsheng,CN,75.31,clear sky,39.82,109.98,Crowne Plaza Ordos
11,Angoche,MZ,72.63,scattered clouds,-16.23,39.91,Guest House HESADA
23,Esperance,AU,66.20,broken clouds,-33.87,121.90,Hospitality Esperance
25,Ponta Do Sol,PT,71.60,few clouds,32.67,-17.10,Hotel do Campo
26,Baft,IR,71.28,clear sky,29.23,56.61,بافت خیابان طالقانی غربی ساختمان مادر
29,Arraial Do Cabo,BR,70.38,clear sky,-22.97,-42.03,Pousada Porto Praia
31,Hilo,US,75.20,light rain,19.73,-155.09,Hilo Hawaiian Hotel
34,Hamilton,US,75.20,overcast clouds,39.18,-84.53,Six Acres Bed & Breakfast

In [81]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [109]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
    <dt>Hotel Name</dt>
    <dd>{Hotel Name}</dd>
    <dt>City</dt>
    <dd>{City}</dd>
    <dt>Country</dt>
    <dd>{Country}</dd>
    <dt>Current Weather</dt> 
    <dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [110]:
# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))